<div class="row">
  <div class="col-md-8">
    <div class="list">
    <button *ngIf="!getShowForm()" (click)="setShowForm(true)" class="btn btn-success">Create Employee</button>
      <div *ngIf="getShowForm()">
        <input name="fullName" type="text" class="form-control" #fullNameInput>
        <button (click)="createEmployee(fullNameInput.value)" class="btn btn-primary">Create</button>
      </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Full name</th>
        <th>Photo</th>
        <th>Characteristics</th>
        <th>Projects</th>
        <th>Control</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.full_name}}</td>
        <td><img src="http://localhost:8000/{{employee.photo.src}}"></td>
        <td><p *ngFor="let characteristic of employee.characteristics">
          {{characteristic.name}} - {{characteristic.pivot.score}}
        </p></td>
        <td></td>
        <td>
          <a [routerLink]="['/employee', employee.id]" class="btn btn-info">View/Update</a>
          <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="searchFilter">
      <input (change)="search(searchInput.value)" type="text" class="form-control" #searchInput>
      <button (click)="search(searchInput.value)"  class="btn btn-success">Search</button>
      <h2>Average Score</h2>
      <p *ngFor="let average of averages">
        {{average.name}} - {{average.average_score}}
      </p>
    </div>
  </div>
</div>

